@keyframes loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.defence {
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding-bottom: 172px;
  padding-top: 134px;
}
@media screen and (max-width: 1024px) {
  .defence {
    padding-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  .defence {
    padding-bottom: 82px;
  }
}
.defence .defence-car_first {
  width: 55%;
  margin-left: 5%;
}
@media screen and (max-width: 1024px) {
  .defence .defence-car_first {
    width: 90%;
    margin: 0 auto;
  }
}
.defence .defence-car_first .defence-car {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 480px) {
  .defence .defence-car_first .defence-car {
    gap: 20px;
  }
}
.defence .defence-car_first .defence-car_title {
  display: flex;
  gap: 80px;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .defence .defence-car_first .defence-car_title {
    gap: 30px;
  }
}
@media screen and (max-width: 480px) {
  .defence .defence-car_first .defence-car_title {
    gap: 20px;
  }
}
.defence .defence-car_first .defence-car_desc {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-left: 15%;
}
@media screen and (max-width: 1025px) {
  .defence .defence-car_first .defence-car_desc {
    padding-left: 0px;
  }
}
@media screen and (max-width: 480px) {
  .defence .defence-car_first .defence-car_desc {
    font-size: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    transition: max-height 1s ease-out;
  }
}
.defence-car_second {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.defence-car_second #container {
  height: 40px;
}
.defence-car_second #container .black-div,
.defence-car_second #container .grey-div {
  display: flex;
  align-items: center;
  height: 60px;
}
@media screen and (max-width: 480px) {
  .defence-car_second #container .black-div,
  .defence-car_second #container .grey-div {
    height: 40px;
  }
}
.defence-car_second #container .black-div.black-div,
.defence-car_second #container .grey-div.black-div {
  background-color: #28282A;
  transform: skewY(1deg);
}
.defence-car_second #container .black-div.grey-div,
.defence-car_second #container .grey-div.grey-div {
  background-color: #EFEFEF;
}
.defence-car_second #container .black-div .item,
.defence-car_second #container .grey-div .item {
  text-transform: uppercase;
  padding-left: 13px;
  margin: 0;
  width: fit-content;
  white-space: nowrap;
  animation: loop 40s linear infinite;
}
.defence-car_second #container .black-div .item::after,
.defence-car_second #container .grey-div .item::after {
  content: attr(data-text);
}
.defence-car_second .car_title-btn-second {
  position: fixed;
  background: var(--Mint, linear-gradient(180deg, #19D3C5 0%, #0FE99B 100%));
  bottom: 50%;
  right: 0px;
  z-index: 1000;
}
.defence-car_second .car_title-btn-second svg {
  width: 100%;
  height: 100%;
  padding: 45px 40px 44px 41px;
}
@media screen and (max-width: 1280px) {
  .defence-car_second .car_title-btn-second svg {
    padding: 22px 20px 22px 20.5px;
  }
}
@media screen and (max-width: 878px) {
  .defence-car_second .car_title-btn-second svg {
    padding: 11px 10px 11px 10.2px;
  }
}
@media screen and (max-width: 480px) {
  .defence-car_second .car_title-btn-second svg {
    padding: 0px;
  }
}
.defence-car_third {
  display: flex;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
}
@media screen and (max-width: 1280px) {
  .defence-car_third {
    width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  .defence-car_third {
    flex-direction: column;
    gap: 30px;
  }
}
.defence-car_third .card {
  width: calc(30% - 10px);
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media screen and (max-width: 1024px) {
  .defence-car_third .card {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .defence-car_third .card .show-more {
    display: block;
    text-align: right;
    font-size: 18px;
    color: #19D3C5;
    cursor: pointer;
    margin-top: 10px;
  }
}
.defence-car_third .card-content {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media screen and (max-width: 1280px) {
  .defence-car_third .card-content {
    gap: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .defence-car_third .card-content-svg svg {
    width: 90%;
    height: 90%;
  }
}
.defence-car_third .card .desc {
  font-size: 20px;
  line-height: 28px;
}
@media screen and (max-width: 480px) {
  .defence-car_third .card .desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 56px;
    position: relative;
    transition: max-height 1s ease-out;
  }
}
@media screen and (max-width: 480px) {
  .defence-car_third .card .desc.expanded {
    max-height: 500px;
    transition: max-height 1s ease-out;
  }
}
@media screen and (max-width: 480px) {
  .defence-car_third .card .desc.expanded::after {
    content: none;
  }
}
@media screen and (max-width: 480px) {
  .defence-car_third .card .desc::after {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255) 50%);
    display: block;
    width: 100%;
    text-align: right;
    font-size: 18px;
    padding-right: 10px;
    box-sizing: border-box;
    pointer-events: none;
  }
}
.defence-car_third .card .desc span {
  font-weight: 700;
  line-height: 20px;
  color: #28282A;
}
@media screen and (max-width: 1024px) {
  .defence-car_third .card .title {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .defence-car_third .card .title {
    font-size: 26px;
    text-align: center;
  }
}

/*# sourceMappingURL=defence.module.css.map */
