header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 19;
}
header .header-container .top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 0.5px solid #d6d6d6;
  background: var(--Mint, linear-gradient(180deg, #19d3c5 0%, #0fe99b 100%));
}
@media screen and (max-width: 1280px) {
  header .header-container .top-bar {
    justify-content: center;
  }
}
@media screen and (max-width: 878px) {
  header .header-container .top-bar {
    display: none;
  }
}
header .header-container .top-bar ul {
  display: flex;
  gap: 120px;
  padding: 6px 112px 8px 0;
}
@media screen and (max-width: 1280px) {
  header .header-container .top-bar ul {
    gap: 30px;
  }
}
@media screen and (max-width: 1024px) {
  header .header-container .top-bar ul {
    gap: 30px;
    padding-right: 5px;
  }
}
header .header-container .top-bar ul li {
  list-style: none;
  align-items: center;
  display: flex;
  gap: 8px;
}
header .header-container .top-bar ul li a {
  font-size: 16px;
  transition: color 0.3s ease;
}
header .header-container .top-bar ul li a:hover {
  color: #333;
}
header .header-container .top-bar ul li:hover .dropdown-menu {
  display: block;
}
header .header-container_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  position: relative;
  z-index: 5;
  padding: 5px 92px 21px 31px;
}
@media screen and (max-width: 1280px) {
  header .header-container_navigation {
    padding: 2px 22px 21px 21px;
  }
}
@media screen and (max-width: 480px) {
  header .header-container_navigation {
    padding: 10px 10px;
  }
}
header .header-container_navigation .header-container--links {
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 1024px) {
  header .header-container_navigation .header-container--links {
    display: none;
  }
}
header .header-container_navigation .header-container--links .links-list {
  display: flex;
  gap: 80px;
}
header .header-container_navigation .header-container--links .links-list .dropdown {
  position: relative;
}
header .header-container_navigation .header-container--links .links-list--item a {
  position: relative;
}
header .header-container_navigation .header-container--links .links-list--item a:hover {
  color: #19d3c5;
  transition: 0.3s ease-in-out;
}
header .header-container_navigation .header-container--links .links-list--item .dropdown-menu {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  background-color: #000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  margin: 0;
  top: 100%;
  left: 0;
  z-index: 1;
}
header .header-container_navigation .header-container--links .links-list--item .dropdown-menu li {
  border-bottom: 1px solid #f0f0f0;
}
header .header-container_navigation .header-container--links .links-list--item .dropdown-menu li:last-child {
  border-bottom: none;
}
header .header-container_navigation .header-container--links .links-list--item .dropdown-menu li a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #fff;
}
header .header-container_navigation .header-container--links .links-list--item .dropdown-menu li a:hover {
  background-color: #3e3d3d;
}
header .header-container_navigation .header-container--links .links-list--item:hover .dropdown-menu {
  display: block;
  opacity: 1;
  transform: scaleY(1);
}
header .header-container--hamburger {
  display: none;
}
@media screen and (max-width: 1024px) {
  header .header-container--hamburger {
    display: block;
  }
}
header .header-container--hamburger-wrapper input {
  border: none;
  outline: none;
  background-color: transparent;
}
header .header-container--hamburger-wrapper .hamburger-menu {
  width: 28px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  position: relative;
}
header .header-container--hamburger-wrapper .hamburger-menu .bar {
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #e4b271;
  height: 2px;
}
header .header-container--hamburger-wrapper .hamburger-menu .bar.bar-1 {
  top: 0;
  transform: rotate(0);
}
header .header-container--hamburger-wrapper .hamburger-menu .bar.cross.bar-1 {
  transform: translateY(7px) rotate(-45deg);
}
header .header-container--hamburger-wrapper .hamburger-menu .bar.cross.bar-2 {
  opacity: 0;
}
header .header-container--hamburger-wrapper .hamburger-menu .bar.cross.bar-3 {
  transform: translateY(-7px) rotate(45deg);
}
header .header-container--mobile {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 100px 0 48px 16px;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  overflow-y: auto;
  z-index: 1001;
}
@media screen and (max-width: 1024px) {
  header .header-container--mobile {
    margin-top: 5%;
    z-index: 2;
  }
}
@media screen and (max-width: 878px) {
  header .header-container--mobile {
    margin-top: auto;
    z-index: 2;
  }
}
header .header-container--mobile-container {
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 100%;
}
header .header-container--mobile.open {
  transform: translateX(0);
  transition: 0.5s linear;
  height: 100vh;
}
header .header-container--mobile .links-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
header .header-container--mobile .links-list--item a {
  font-size: 26px;
  color: #0b1931;
  text-decoration: none;
}
header .header-container--mobile .links-list .lang {
  display: flex;
  width: 100%;
  padding: 0;
  gap: 20px;
  padding: 25px;
  justify-content: center;
}
header .header-container--mobile .links-list .lang .lang-bg {
  background-color: #2c3e50;
  color: #ecf0f1;
  border: 1px solid #34495e;
}
header .header-container--mobile .links-list .lang .lang-en {
  background-color: #bdc3c7;
  color: #2c3e50;
  border: 1px solid #95a5a6;
}
@media screen and (max-width: 1024px) {
  header .header-container--mobile .links-list .mobile-top-bar {
    display: none;
  }
}
@media screen and (max-width: 878px) {
  header .header-container--mobile .links-list .mobile-top-bar {
    display: block;
  }
}
header .header-container--mobile .links-list .mobile-top-bar ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (max-width: 878px) {
  header .header-container--mobile .links-list .mobile-top-bar ul li {
    display: flex;
    gap: 10px;
  }
}
header .header-container--mobile .links-list .mobile-top-bar ul li a {
  font-size: 15px;
}
header .header-container--mobile .btn {
  font-size: 12px;
  padding: 12px 16px;
  width: fit-content;
}
header .header-container--mobile .socials-list {
  display: flex;
  gap: 16px;
}

.dropdown-icon.rotated {
  transform: rotate(180deg);
}

/*# sourceMappingURL=header.module.css.map */
