.portfolio {
  position: relative;
}
.portfolio-title {
  padding: 0 0 98px 150px;
}
@media screen and (max-width: 1024px) {
  .portfolio-title {
    padding: 0;
    text-align: center;
  }
}
.portfolio-title .noah-700 {
  text-transform: uppercase;
  color: #000;
  font-size: 24px;
}
.portfolio svg {
  position: absolute;
  top: 60%;
  left: 10%;
}
@media screen and (max-width: 1440px) {
  .portfolio svg {
    display: none;
  }
}
.portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.portfolio-container .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-position: center;
  background-size: cover;
}
.portfolio-container .swiper-slide.swiper-slide-prev {
  width: 458px !important;
}
@media screen and (max-width: 1740px) {
  .portfolio-container .swiper-slide.swiper-slide-prev {
    width: 23% !important;
  }
}
@media screen and (max-width: 1440px) {
  .portfolio-container .swiper-slide.swiper-slide-prev {
    width: 21% !important;
  }
}
.portfolio-container .swiper-slide .noah-400 {
  font-size: 20px;
  margin-bottom: 5px;
}
.portfolio-container .swiper-slide .noah-700 {
  font-size: 16px;
}
.portfolio-container .swiper-slide.swiper-slide-active, .portfolio-container .swiper-slide.swiper-slide-next {
  width: 1011px !important;
  padding-top: 100px;
}
@media screen and (max-width: 1740px) {
  .portfolio-container .swiper-slide.swiper-slide-active, .portfolio-container .swiper-slide.swiper-slide-next {
    width: 50% !important;
  }
}
@media screen and (max-width: 1440px) {
  .portfolio-container .swiper-slide.swiper-slide-active, .portfolio-container .swiper-slide.swiper-slide-next {
    width: 50% !important;
  }
}
@media screen and (max-width: 1024px) {
  .portfolio-container .swiper-slide.swiper-slide-active, .portfolio-container .swiper-slide.swiper-slide-next {
    width: 100% !important;
  }
}
.portfolio-container .swiper-slide.swiper-slide-active {
  margin-left: 39px;
}
@media screen and (max-width: 1440px) {
  .portfolio-container .swiper-slide.swiper-slide-active {
    margin-left: 0px !important;
  }
}
.portfolio-container .swiper-slide-prev {
  transition: all 0.5s ease;
}
.portfolio-container .swiper-wrapper_img {
  max-width: 100%;
  height: auto;
}
.portfolio-container .swiper-paginationP {
  transform: unset;
}
@media screen and (min-width: 1023px) {
  .portfolio-container .swiper-paginationP {
    display: none !important;
  }
}
.portfolio-container .swiper-pagination {
  margin: 0 auto;
}
.portfolio-container .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  opacity: 0.6;
  transition: opacity 0.3s, background-color 0.3s;
  border: 1px solid grey;
  margin: 0 auto;
}
.portfolio-container .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #0fe96f !important;
}
@media screen and (max-width: 1024px) {
  .portfolio .portfolio-container .swiper-slide {
    width: 100% !important;
    padding-top: 50px !important;
  }
}

/*# sourceMappingURL=portfolio.module.css.map */
