@keyframes moveText {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}

.defence {
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding-bottom: 172px;

    .defence-car_first {
        width: 70%;

        .defence-car {
            padding-left: 142px;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .defence-car_title {
                display: flex;
                gap: 80px;
                align-items: center;
            }

            .montserrat-400 {
                padding-left: 142px;
            }
        }

        .defence-car_title-btn {
            display: flex;
            padding-left: 272px;
            padding-top: 50px;

            a {
                width: 75px;
                height: 75px;
            }
        }
    }

    .defence-car_second {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .black-div,
        .grey-div {
            white-space: nowrap;
            height: 60px;
            display: flex;
            align-items: center;
            margin: 0;

            &.black-div {
                background-color: #28282A;
                transform: skewY(1deg);
            }

            &.grey-div {
                background-color: #EFEFEF;
            }

            p {
                text-transform: uppercase;
                padding-left: 13px;
                white-space: nowrap; 
                overflow: hidden; 
                position: relative; 
                animation: moveText 15s linear infinite;
            }
        }

        .defence-car_title-btn-second {
            position: fixed;
            bottom: 50%;
            right: 20px;
            z-index: 1000;
            transition: transform 0.3s ease;

            svg{
                width: 100%;
                height: 100%;
            }
        }
    }

    .defence-car_third {
        display: flex;
        width: 85%;
        margin: 0 auto;
        justify-content: space-between;

        .card {
            width: calc(30% - 10px);
            display: flex;
            flex-direction: column;
            gap: 50px;

            .card-content {
                display: flex;
                align-items: center;
                gap: 50px;
            }

            .montserrat-400 {
                font-size: 20px;
                line-height: 28px;

                span {
                    font-weight: 700;
                    line-height: 20px;
                    color: #28282A;
                }
            }
        }
    }
}