.defence {
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding-bottom: 172px;

    .defence-car_first {
        width: 60%;
        margin-left: 5%;
        position: relative;
        transition: background-color 0.5s ease;

        &:hover {
            cursor: pointer;

            .defence-car_title-btn {
                .text-container {
                    width: auto;
                    opacity: 1;
                    padding-right: 30px;
                    transition: width 0.5s ease, opacity 0.5s ease, padding-left 0.5s ease;
                }
            }
        }

        .defence-car {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .defence-car_title {
                display: flex;
                gap: 80px;
                align-items: center;
            }

            .montserrat-400 {
                padding-left: 142px;
            }
        }

        .defence-car_title-btn {
            display: flex;
            align-items: center;
            padding-top: 50px;
            padding-left: 142px;

            .svg-container {
                width: 75px;
                height: 75px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .icon {
                height: auto;
                fill: white;
            }

            .text-container {
                width: 0;
                opacity: 0;
                overflow: hidden;
                white-space: nowrap;
                transition: width 0.5s ease, opacity 0.5s ease, padding-left 0.5s ease;
                padding-left: 0;
            }

            .button-text {
                color: white;
                font-size: 22px;
                line-height: 26px;
                text-transform: uppercase;
            }
        }
    }

    .defence-car_second {
        display: flex;
        flex-direction: column;
        gap: 40px;

        #container {
            height: 40px;

            .black-div,
            .grey-div {
                display: flex;
                align-items: center;
                margin: 0;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                height: 60px;

                &.black-div {
                    background-color: #28282A;
                    transform: skewY(1deg);
                }

                &.grey-div {
                    background-color: #EFEFEF;
                }

                p {
                    text-transform: uppercase;
                    padding-left: 13px;
                    margin: 0;
                    width: fit-content;
                    white-space: nowrap;
                    animation: loop 40s linear infinite;

                    &::after {
                        content: attr(data-text);
                    }
                }
            }
        }

        .defence-car_title-btn-second {
            position: fixed;
            bottom: 50%;
            right: 0px;
            z-index: 1000;
            transition: transform 0.5s ease;

            svg {
                width: 100%;
                height: 100%;
                padding: 45px 40px 44px 41px;
            }
        }
    }

    .defence-car_third {
        display: flex;
        width: 85%;
        margin: 0 auto;
        justify-content: space-between;

        .card {
            width: calc(30% - 10px);
            display: flex;
            flex-direction: column;
            gap: 50px;

            .card-content {
                display: flex;
                align-items: center;
                gap: 50px;
            }

            .montserrat-400 {
                font-size: 20px;
                line-height: 28px;

                span {
                    font-weight: 700;
                    line-height: 20px;
                    color: #28282A;
                }
            }
        }
    }
}

@keyframes loop {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}