.defence {
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding-bottom: 172px;

    .defence-car_first {
        width: 60%;
        margin-left: 5%;
        position: relative;

        &:hover {
            cursor: pointer;

            .defence-car_title-btn {
                .text-container {
                    width: auto;
                    opacity: 1;
                    padding-right: 30px;
                    padding-left: 30px;
                    transition: width 1s ease,
                        opacity 1s ease,
                        padding-left 1s ease,
                        padding-right 1s ease;
                }
            }
        }

        .defence-car {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .defence-car_title {
                display: flex;
                gap: 80px;
                align-items: center;
            }

            .montserrat-400 {
                padding-left: 142px;
            }
        }

        .defence-car_title-btn {
            display: flex;
            align-items: center;
            padding-top: 50px;
            padding-left: 142px;
            transition: padding-left 1s ease;

            .svg-container {
                width: 75px;
                height: 75px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .icon {
                height: auto;
                fill: white;
            }

            .text-container {
                width: 0;
                opacity: 0;
                overflow: hidden;
                white-space: nowrap;
                transition: width 1s ease,
                    opacity 1s ease,
                    padding-left 1s ease,
                    padding-right 1s ease;
            }

            .button-text {
                color: white;
                font-size: 22px;
                line-height: 26px;
                text-transform: uppercase;
            }
        }
    }

    .defence-car_second {
        display: flex;
        flex-direction: column;
        gap: 40px;

        #container {
            height: 40px;

            .black-div,
            .grey-div {
                display: flex;
                align-items: center;
                margin: 0;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                height: 60px;

                &.black-div {
                    background-color: #28282A;
                    transform: skewY(1deg);
                }

                &.grey-div {
                    background-color: #EFEFEF;
                }

                p {
                    text-transform: uppercase;
                    padding-left: 13px;
                    margin: 0;
                    width: fit-content;
                    white-space: nowrap;
                    animation: loop 40s linear infinite;

                    &::after {
                        content: attr(data-text);
                    }
                }
            }
        }

        .defence-car_title-btn-second {
            position: fixed;
            bottom: 50%;
            right: 0px;
            z-index: 1000;
            transition: transform 0.5s ease;

            svg {
                width: 100%;
                height: 100%;
                padding: 45px 40px 44px 41px;
            }
        }
    }

    .defence-car_third {
        display: flex;
        width: 85%;
        margin: 0 auto;
        justify-content: space-between;

        .card {
            width: calc(30% - 10px);
            display: flex;
            flex-direction: column;
            gap: 50px;

            .card-content {
                display: flex;
                align-items: center;
                gap: 50px;
            }

            .montserrat-400 {
                font-size: 20px;
                line-height: 28px;

                span {
                    font-weight: 700;
                    line-height: 20px;
                    color: #28282A;
                }
            }
        }
    }

    @media screen and (max-width: 1280px) {
        .defence-car_third {
            width: 90%;
        }

        .defence-car_third .card .card-content {
            gap: 20px;
        }
    }

    @media screen and (max-width: 1024px) {
        .defence-car_first {
            width: 90%;
            margin: 0 auto;
        }

        .defence-car_first .defence-car .defence-car_title {
            gap: 30px;
        }

        .defence-car_first .defence-car .montserrat-400 {
            padding: 0;
        }

        .defence-car_first .defence-car_title-btn {
            padding-left: 0;
            justify-content: center;
        }

        .defence-car_third {
            flex-direction: column;
            gap: 30px;
        }

        .defence-car_third .card {
            width: 100%;
        }

        .defence-car_third .card .card-content .card-content-svg svg {
            width: 90%;
            height: 90%;
        }

        .defence-car_third .card .card-content .title {
            font-size: 26px;
        }
    }

    @media screen and (max-width: 480px) {
        padding-bottom: 82px ;

        .defence-car_first .defence-car .defence-car_title {
            gap: 20px;
        }

        .defence-car .defence-car_title .title {
            font-size: 26px;
            text-align: center;
        }

        .defence-car .desc {
            font-size: 22px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 56px;
            position: relative;
            transition: max-height 1s ease-out;
        }

        .defence-car_first .defence-car_title-btn .svg-container {
            width: 50px;
            height: 50px;
        }

        .defence-car_second {
            gap: 20px;
        }

        .defence-car_second #container .black-div {
            height: 40px;
        }

        .defence-car_second #container .grey-div {
            height: 40px;
        }

        .defence-car_second .defence-car_title-btn-second svg {
            padding: 0;
        }

        .defence-car_third .card .desc {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 56px;
            position: relative;
            transition: max-height 1s ease-out;
        }

        .defence-car_third .card .desc.expanded {
            max-height: 500px;
            transition: max-height 1s ease-out;
        }

        .defence-car_third .card .desc::after {
            content: '...';
            position: absolute;
            bottom: 0;
            right: 0;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
            display: block;
            width: 100%;
            text-align: right;
            font-size: 18px;
            padding-right: 10px;
            box-sizing: border-box;
            pointer-events: none;
        }

        .defence-car_third .card .desc.expanded::after {
            content: none;
        }

        .defence-car_third .card .show-more {
            display: block;
            text-align: right;
            font-size: 18px;
            color: #19D3C5;
            cursor: pointer;
            margin-top: 10px;
        }
    }
}

@keyframes loop {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}