@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loop {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.form {
  margin-top: 77px;
  background-color: #e6eded;

  &-title {
    padding: 66px 0 64px 143px;

    @media screen and (max-width: 878px) {
      text-align: center;
      padding-left: 0px;
    }

    .noah-700 {
      font-size: 24px;
      color: #000;
      text-transform: uppercase;

      @media screen and (max-width: 480px) {
        font-size: 22px;
      }
    }
  }

  &-content {
    display: flex;
    padding-bottom: 50px;
    position: relative;

    .services-lines {
      position: absolute;
      left: 0;
      bottom: 0;

      @media screen and (max-width: 1440px) {
        display: none;
      }

      svg path {
        opacity: 0;
        animation: reveal 1s ease forwards, pulse 1.5s ease infinite alternate;
      }

      svg path:nth-of-type(1) {
        animation-delay: 0.2s;
      }

      svg path:nth-of-type(2) {
        animation-delay: 0.4s;
      }

      svg path:nth-of-type(3) {
        animation-delay: 0.6s;
      }

      svg path:nth-of-type(4) {
        animation-delay: 0.8s;
      }

      svg path:nth-of-type(5) {
        animation-delay: 1s;
      }
    }
  }

  &-form {
    width: 55%;
    margin: 0 auto;

    @media screen and (max-width: 1280px) {
      width: 85%;
    }

    form {

      .form-left,
      .form-right {
        width: 46%;
        display: flex;
        flex-direction: column;
      }

      .form-left {
        justify-content: space-between;

        @media screen and (max-width: 878px) {
          width: 100%;
          gap: 15px;
        }

        .form-control {
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #19d3c5;
          padding: 10px 0;
          font-size: 16px;
          color: rgba(0, 0, 0, 0.75);

          &.error {
            border-bottom: 1px solid red;
          }

          &.success {
            border-bottom: 1px solid #19d3c5;
          }

          &::placeholder {
            color: rgba(0, 0, 0, 0.75);
            font-weight: 400;
            border: none;
          }
        }
      }

      .form-right {
        gap: 14px;

        @media screen and (max-width: 878px) {
          width: 100%;
        }

        .inputs {
          display: flex;
          flex-direction: column;
          gap: 19px;

          @media screen and (max-width: 878px) {
            gap: 15px;
          }

          div {
            display: flex;
            align-items: center;

            input[type="radio"] {
              margin-right: 15px;
              appearance: none;
              -webkit-appearance: none;
              -moz-appearance: none;
              height: 20px;
              width: 20px;
              border-radius: 50%;
              border: 1px solid grey;
              outline: none;
              cursor: pointer;
              padding: 3px;
              background-clip: content-box;

              &:checked {
                background-color: #19d3c5;
              }
            }

            label {
              color: rgba(0, 0, 0, 0.75);
              font-size: 16px;
              cursor: pointer;
            }
          }
        }
      }

      .form-columns {
        display: flex;
        justify-content: space-between;
        padding-bottom: 60px;

        @media screen and (max-width: 878px) {
          flex-direction: column;
          gap: 40px;
          padding-bottom: 40px;
        }
      }

      label {
        font-size: 16px;

        span {
          color: #000;
        }

        &:not(:first-of-type) {
          padding-top: 60px;
        }
      }

      .textarea-container {
        padding-bottom: 50px;
        position: relative;

        @media screen and (max-width: 878px) {
          padding-bottom: 40px;
        }

        &_content {
          border-bottom: 1px solid #19d3c5;
          position: relative;

          textarea {
            min-height: 110px;
            width: 100%;
            border: none;
            background-color: transparent;
            padding-right: 80px;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.75);

            &::placeholder {
              color: rgba(0, 0, 0, 0.75);
              font-weight: 400;
              border: none;
            }
          }

          svg {
            position: absolute;
            bottom: 10%;
            left: 94%;
            cursor: pointer;
          }

          .first-svg {
            position: absolute;
            bottom: 6%;
            left: 97%;
            cursor: pointer;
          }

          .second-svg {
            position: absolute;
            bottom: 5%;
            left: 98%;
            cursor: pointer;
          }
        }

        .uploaded-image-container {
          margin-top: 20px;

          img {
            max-width: 200px;
            max-height: 200px;
            width: auto;
            height: auto;
            display: inline-block;
          }
        }
      }

      .car_title-btn {
        padding: 0;
      }
    }

    .agreement {
      padding-top: 30px;

      .checkbox-btn {
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      & .checkmark {
        position: relative;
        height: 13px;
        width: 13px;
        border: 1px solid #ccc;
      }

      & input:checked~.checkmark {
        background-color: transparent;
      }

      & .checkmark:after {
        content: "";
        position: absolute;
        visibility: hidden;
        opacity: 0;
        left: 3px;
        top: 0px;
        width: 3px;
        height: 5.5px;
        border: 2.5px solid #19d3c5;
        border-width: 0 2.5px 2.5px 0;
        transition: 0.3s ease-in-out;
        transform: rotate(45deg);
      }

      & input:checked~.checkmark:after {
        visibility: visible;
        opacity: 1;
      }

      #terms,
      #terms a {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
      }
    }

    .error-message {
      color: red;
      display: none;
    }

    #thank-you-message {
      color: #000;
      font-size: 20px;
      margin-top: 10px;
    }
  }
}