@keyframes drawLine {
  from {
    stroke-dasharray: 0, 1000;
    stroke-dashoffset: 0;
  }

  to {
    stroke-dasharray: 1000, 1000;
    stroke-dashoffset: -1000;
  }
}

.form {
  margin-top: 77px;
  background-color: #e6eded;

  &-title {
    padding: 66px 0 64px 143px;
    
    @media screen and (max-width: 878px){
      text-align: center;
      padding-left: 0px;
    }

    .noah-700 {
      font-size: 24px;
      color: #000;
      text-transform: uppercase;

      @media screen and (max-width: 480px){
        font-size: 22px;
      }
    }
  }

  &-content {
    display: flex;
    padding-bottom: 50px;

    #svg {
      margin-top: 50px;

      @media screen and (max-width: 1280px){
        display: none;
      }

      path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;
        animation: drawLine 3s infinite linear;
      }
    }
  }

  &-form {
    width: 50%;
    margin: 0 auto;

    @media screen and (max-width: 1280px){
      width: 85%;
    }

    form {
      .form-left,
      .form-right {
        width: 46%;
        display: flex;
        flex-direction: column;
      }

      .form-left {
        justify-content: space-between;

        @media screen and (max-width: 878px) {
          width: 100%;
          padding-bottom: 10px;
        }

        .form-control {
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #19d3c5;
          padding: 10px 0;
          font-size: 16px;
          color: rgba(0, 0, 0, 0.75);

          &.error {
            border-bottom: 1px solid red;
          }

          &.success {
            border-bottom: 1px solid #19d3c5;
          }

          &::placeholder {
            color: rgba(0, 0, 0, 0.75);
            font-weight: 400;
            border: none;
          }
        }
      }

      .form-right {
        label {
          margin-bottom: 14px;
        }

        @media screen and (max-width: 878px) {
          width: 100%;
        }

        .inputs {
          display: flex;
          flex-direction: column;
          gap: 19px;

          div {
            padding-top: 6px;

            input[type="radio"] {
              margin-right: 15px;
              appearance: none;
              -webkit-appearance: none;
              -moz-appearance: none;
              height: 20px;
              width: 20px;
              border-radius: 50%;
              border: 1px solid grey;
              outline: none;
              cursor: pointer;
              padding: 3px;
              background-clip: content-box;

              &:checked {
                background-color: #19d3c5;
              }
            }

            label {
              color: rgba(0, 0, 0, 0.75);
              font-size: 16px;
              cursor: pointer;
            }
          }
        }
      }

      .form-columns {
        display: flex;
        justify-content: space-between;
        padding-bottom: 60px;

        @media screen and (max-width: 878px) {
          flex-direction: column;
        }
      }

      label {
        font-size: 16px;

        span {
          color: #000;
        }

        &:not(:first-of-type) {
          padding-top: 60px;
        }
      }

      .textarea-container {
        padding-bottom: 50px;
        position: relative;

        &_content {
          border-bottom: 1px solid #19d3c5;
          position: relative;

          textarea {
            min-height: 110px;
            width: 100%;
            border: none;
            background-color: transparent;
            padding-right: 80px;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.75);

            &::placeholder {
              color: rgba(0, 0, 0, 0.75);
              font-weight: 400;
              border: none;
            }
          }

          svg {
            position: absolute;
            bottom: 10%;
            left: 94%;
            cursor: pointer;
          }

          .first-svg {
            position: absolute;
            bottom: 6%;
            left: 97%;
            cursor: pointer;
          }

          .second-svg {
            position: absolute;
            bottom: 5%;
            left: 98%;
            cursor: pointer;
          }
        }

        .uploaded-image-container {
          margin-top: 20px;

          img {
            max-width: 200px;
            max-height: 200px;
            width: auto;
            height: auto;
            display: inline-block;
          }
        }
      }
    }

    .btn-form {
      border: none;
      background-color: transparent;
      width: 266px;
      height: 90px;
      position: relative;

      .btn-text {
        display: flex;
        background: var(--Mint, linear-gradient(180deg, #19d3c5 0%, #0fe99b 100%));
        width: calc(100% - 15px);
        height: calc(100% - 38px);
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        border: none;

        @media screen and (max-width: 480px) {
          width: calc(100% - 45px);
        }

        svg {
          margin-left: 18px;
          margin-top: 20px;
        }

        div {
          padding: 21px 35px 14px 28px;
          color: #FFF;
          font-size: 14px;
          text-transform: uppercase;

          @media screen and (max-width: 480px){
            padding-right: 10px;;
          }
        }
      }
    }

    .agreement {
      padding-top: 30px;

      .checkbox-btn {
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      & .checkmark {
        position: relative;
        height: 13px;
        width: 13px;
        border: 1px solid #ccc;
      }

      & input:checked~.checkmark {
        background-color: transparent;
      }

      & .checkmark:after {
        content: "";
        position: absolute;
        visibility: hidden;
        opacity: 0;
        left: 3px;
        top: 0px;
        width: 3px;
        height: 5.5px;
        border: 2.5px solid #19D3C5;
        border-width: 0 2.5px 2.5px 0;
        transition: 0.3s ease-in-out;
        transform: rotate(45deg);
      }

      & input:checked~.checkmark:after {
        visibility: visible;
        opacity: 1;
      }

      #terms,
      #terms a {
        color: rgba(0, 0, 0, 0.50);
        font-size: 14px;
      }
    }

    .error-message {
      color: red;
      display: none;
    }

    #thank-you-message {
      color: #000;
      font-size: 20px;
      margin-top: 10px;
    }
  }
}