.offers {
    padding-bottom: 362px;
    display: flex;

    .offers-content {
        min-height: 800px;
        height: 100%;
        width: 100%;
        background-color: $secondary-color;
        padding: 86px 244px 50px 211px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .offers-offer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            width: calc(33.33% - 20px); 
            max-width: 380px; 
            margin-bottom: 20px; 
            transition: transform 0.5s ease, opacity 0.5s ease;

            &:hover {
                .offer-specifics {
                    display: flex;
                }
            }

            &.active {
                z-index: 3;
                transform: scale(1.1);
                opacity: 1;
            }

            &.inactive {
                z-index: 1;
                opacity: 0.6;
            }

            .offers-offer_back,
            .offers-offer_front {
                position: absolute;
                top: 0;
                left: 0;
            }

            .offers-offer_front {
                top: 24px;
                left: 34px;
            }

            .offer-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                font-style: normal;
                line-height: normal;
                text-transform: uppercase;

                .icon {
                    text-align: start;
                }

                .percentage {
                    color: #28282a;
                    font-size: 96px;
                    font-weight: 800;
                }

                .reduce {
                    color: #28282a;
                    font-size: 20px;
                    font-weight: 850;
                    letter-spacing: 2.3px;
                }

                .total {
                    color: #28282a;
                    font-size: 20px;
                    font-style: italic;
                    text-transform: none;
                }
            }

            .offer-details {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .offer-detail {
                    color: #fdfdfd;
                    text-transform: uppercase;
                    text-align: left;
                    z-index: 3;
                }

                .line {
                    height: 5px;
                    background-color: #19d3c5;
                    width: 100%;
                    display: none;
                }

                .offer-specifics {
                    width: 50%;
                    color: #fff;
                    font-size: 16px;
                    flex-direction: column;
                    gap: 10px;
                    z-index: 2;
                    display: none;
                }
            }
        }

        @media screen and (max-width: 1600px) {
            padding: 30px 50px 50px 20px;
        }

        @media screen and (max-width: 1200px) {
            padding: 10px 30px 50px 20px;
            .offers-offer {
                width: calc(50% - 20px); 
            }
        }

        @media screen and (max-width: 768px) {
            padding: 10px 20px 30px 10px;
            .offers-offer {
                width: 100%; 
            }
        }
    }
}
