.portfolio {
  position: relative;

  &-title {
    padding: 0 0 98px 150px;

    .noah-700 {
      text-transform: uppercase;
      color: #000;
      font-size: 24px;
    }
  }

  svg {
    position: absolute;
    top: 60%;
    left: 10%;
  }

  &-container {
    .swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;


      &.swiper-slide-prev {
        width: 458px !important;
      }

      .noah-400 {
        font-size: 20px;
        margin-bottom: 5px;
      }

      .noah-700 {
        font-size: 16px;
      }

      &.swiper-slide-active,
      &.swiper-slide-next {
        width: 1011px !important;
        padding-top: 100px;
      }

      &.swiper-slide-active {
        margin-left: 39px;
      }

      &-prev {
        transition: all 0.5s ease;
      }
    }

    .swiper-wrapper_img {
      max-width: 100%;
      height: auto;
    }
  }

  @media screen and (max-width: 1740px) {

    .swiper-slide.swiper-slide-active,
    .swiper-slide.swiper-slide-next {
      width: 50% !important;
    }

    .portfolio-container .swiper-slide-prev {
      width: 30% !important;
    }
  }

  @media screen and (max-width: 1440px) {
    svg {
      display: none;
    }

    .swiper-slide.swiper-slide-active,
    .swiper-slide.swiper-slide-next {
      width: 50% !important;
    }

    .portfolio-container .swiper-slide-prev {
      width: 30% !important;
    }

    .swiper-slide.swiper-slide-active {
      margin-left: 0px;
    }
  }

  @media screen and (max-width: 1024px) {

    .swiper-slide.swiper-slide-active,
    .swiper-slide.swiper-slide-next {
      width: 100% !important;
    }

    .portfolio-container .swiper-slide {
      width: 100% !important;
      padding-top: 50px !important;
    }

    .portfolio-title {
      padding: 0;
      text-align: center;
    }
  }
}