.portfolio {
  position: relative;

  &-title {
    padding: 0 0 98px 150px;

    @media screen and (max-width: 1024px) {
      padding: 0;
      text-align: center;
    }

    .noah-700 {
      text-transform: uppercase;
      color: #000;
      font-size: 24px;
    }
  }

  svg {
    position: absolute;
    top: 60%;
    left: 10%;

    @media screen and (max-width: 1440px) {
      display: none;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    .swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      background-position: center;
      background-size: cover;

      &.swiper-slide-prev {
        width: 458px !important;

        @media screen and (max-width: 1740px) {
          width: 23% !important;
        }

        @media screen and (max-width: 1440px) {
          width: 21% !important;
        }
      }

      .noah-400 {
        font-size: 20px;
        margin-bottom: 5px;
      }

      .noah-700 {
        font-size: 16px;
      }

      &.swiper-slide-active,
      &.swiper-slide-next {
        width: 1011px !important;
        padding-top: 100px;

        @media screen and (max-width: 1740px) {
          width: 50% !important;
        }

        @media screen and (max-width: 1440px) {
          width: 50% !important;
        }

        @media screen and (max-width: 1024px) {
          width: 100% !important;
        }
      }

      &.swiper-slide-active {
        margin-left: 39px;

        @media screen and (max-width: 1440px) {
          margin-left: 0px !important;
        }
      }

      &-prev {
        transition: all 0.5s ease;
      }
    }

    .swiper-wrapper_img {
      max-width: 100%;
      height: auto;
    }

    .swiper-paginationP {
      transform: unset;

      @media screen and (min-width:1023px) {
        display: none !important;
      }
    }

    .swiper-pagination {
      margin: 0 auto;

      &-bullet {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        opacity: 0.6;
        transition: opacity 0.3s, background-color 0.3s;
        border: 1px solid grey;
        margin: 0 auto;

        &-active {
          opacity: 1;
          background-color: #0fe96f !important;
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .portfolio-container .swiper-slide {
      width: 100% !important;
      padding-top: 50px !important;
    }
  }
}