.portfolio {
    padding-bottom: 77px;
    display: flex;
    flex-direction: column;
    position: relative;

    svg{
        display: flex;
        position: absolute;
        bottom: 20%;
        left: 7%;

    }

    h2 {
        text-transform: uppercase;
        color: #000;
        font-size: 24px;
        padding: 0 0 98px 150px;
    }

    .portfolio-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .swiper-container {
        width: 50%; 
        height: 100%;
        margin-left: auto;
    }

    .swiper-wrapper {
        display: flex;
    }

    .swiper-slide {
        width: 100%; 
        display: flex;
        justify-content: center; 
        align-items: center; 
        position: relative; 
        overflow: hidden; 

        &-prev {
            width: 458px !important;
            height: 284px !important;
            transition: 0.5s ease-in;

            .swiper-slide{
                width: 100%; 
        display: flex;
        justify-content: center; 
        align-items: center; 
        position: relative; 
        overflow: hidden; 
            }

            img{
                width: 100%; 
                flex-shrink: 0;
            }

            .swiper-wrapper_content {
                text-align: left;
                padding: 0;
                margin-left: 10px;
            }

            .swiper-wrapper_img {
                width: 80%; 
                height: auto; 
                margin-bottom: 10px; 
            }

            h3 {
                font-size: 20px; 
                margin-bottom: 5px; 
            }

            p {
                font-size: 16px; 
            }
        }

        &:not(&-prev) {
            padding-top: 100px; 
        }
    }

    .swiper-wrapper_content {
        text-align: left;
        padding: 20px;
        width: 100%;
        max-width: 100%; 
    }

    .main-image {
        width: 100%;
        height: auto;
    }

    .swiper-wrapper_img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        font-size: 18px;
    }
}
