.questions {
  padding-bottom: 80px;
  padding-top: 362px;

  @media screen and (max-width: 1024px) {
    padding-top: 100px;
  }

  &-content {
    width: 82%;
    margin: 0 auto;

    &_title {
      .noah-700 {
        color: #000;
        text-transform: uppercase;
        font-size: 24px;

        @media screen and (max-width: 480px) {
          font-size: 22px;
        }
      }
    }

    .question {
      display: flex;
      align-items: center;
      border-bottom: 3px solid #d9d9d9;

      &.active {
        border-bottom: 3px solid #19d3c5;
      }

      &-text {
        padding: 45px 0px 46px 21px;
        flex: 1;
        cursor: pointer;

        .title-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 30px;

          &_question {
            font-size: 24px;
            color: #000;

            @media screen and (max-width: 480px) {
              font-size: 20px;
            }
          }

          &_icon {
            display: flex;
            justify-content: flex-end;
            width: auto;
            height: 100%;

            svg {
              @media screen and (max-width: 878px) {
                width: 17px;
                height: 30px;
              }

              @media screen and (max-width: 480px) {
                width: 13px;
                height: 26px;
              }
            }
          }

          .arrow-icon {
            &.rotated {
              transform: rotate(90deg);
              transition: transform 0.3s ease;
            }
          }
        }

        .answer {
          padding: 45px 21px 0px 21px;

          @media screen and (max-width: 480px) {
            padding-left: 0;
            padding-right: 0;
          }

          &-text {
            font-size: 16px;
            color: #000;

            span {
              font-weight: bold;
              color: #000;
            }
          }
        }
      }
    }
  }
}