@keyframes drawLine {
  from {
    stroke-dasharray: 0, 1000;
    stroke-dashoffset: 0;
  }
  to {
    stroke-dasharray: 1000, 1000;
    stroke-dashoffset: -1000;
  }
}

@keyframes breathingShine {
  0%, 100% {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
  }
  50% {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
  }
}

.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #28282A;
  height: 161px;
  flex-shrink: 0;
  margin-top: 130px;

  h2 {
    padding: 72px 0px 59px 142px;
    text-transform: uppercase;
  }

  .services-lines {
    display: flex;
    align-items: center;

    svg path {
      stroke-dasharray: 1000;
      stroke-dashoffset: 0;
    }

    svg path:nth-of-type(1) {
      animation: drawLine 2s forwards, breathingShine 3s 2s forwards;
    }

    svg path:nth-of-type(2) {
      animation: drawLine 2s 2s forwards, breathingShine 3s 4s forwards;
    }

    svg path:nth-of-type(3) {
      animation: drawLine 2s 4s forwards, breathingShine 3s 6s forwards;
    }

    svg path:nth-of-type(4) {
      animation: drawLine 2s 6s forwards, breathingShine 3s 8s forwards;
    }

    svg path:nth-of-type(5) {
      animation: drawLine 2s 8s forwards, breathingShine 3s 10s forwards;
    }
  }
}