@keyframes reveal {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes pulse {
    0% {
      opacity: 0.8;
    }
  
    100% {
      opacity: 0.5;
    }
  }  

.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #28282A;
    padding-top: 124px;
    flex-shrink: 0;

    &-title {
        padding: 72px 0 59px 142px;

        div {
            text-transform: uppercase;
        }
    }

    &-lines {
        display: flex;
        align-items: center;

        svg path {
            opacity: 0;
            transform: translateY(20px);
            animation: reveal 1s ease forwards, pulse 1.5s ease infinite alternate;
        }

        svg path:nth-of-type(1) {
            animation-delay: 0.2s;
        }

        svg path:nth-of-type(2) {
            animation-delay: 0.4s;
        }

        svg path:nth-of-type(3) {
            animation-delay: 0.6s;
        }

        svg path:nth-of-type(4) {
            animation-delay: 0.8s;
        }

        svg path:nth-of-type(5) {
            animation-delay: 1s;
        }
    }

    @media screen and (max-width:1440px) {
        .services-title {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }

    @media screen and (max-width: 1024px) {
        padding-top: 112px;
        height: 225px;

        div {
            padding-left: 20px;
            font-size: 26px;
        }
    }

    @media screen and (max-width: 878px) {
        padding-top: 78px;
        height: 195px;
        justify-content: space-between;
        font-size: 22px;
    }

    @media screen and (max-width: 480px) {
        padding-top: 73px;
        height: 150px;

        div {
            font-size: 18px;
        }
    }
}

;