$primary-color: #19D3C5;
$secondary-color: #28282A;
$body-color: #FFF;

@import './header.module.scss';
@import './video.module.scss';
@import './defence.module.scss';
@import './offers.module.scss';
@import './questions.module.scss';
@import './portfolio.module.scss';
@import './form.module.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noah;
    color: #fff;
    font-style: normal;
}

body,
html {
    overflow-x: hidden;
}

body {
    background-color: $body-color;
    border-radius: 8px;
    position: relative;
}

.container {
    display: flex;
    flex-direction: row;
}

.section {
    max-width: 1920px;
    padding-top: 100px;
    margin: 0 auto;
}

.montserrat-400 {
    color: #28282A;
    font-family: Noah;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.montserrat-700 {
    color: #19D3C5;
    font-family: Noah;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.montserrat-700_nav {
    color: #000;
    font-family: Noah;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.montserrat-800 {
    color: #28282A;
    text-align: center;
    font-family: Noah;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.abtn{
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    flex-shrink: 0;
    background: var(--Mint, linear-gradient(180deg, #19D3C5 0%, #0FE99B 100%));
    border: none; 
    text-decoration: none; 
    transition: background-color 0.3s ease;
}